%section.content
	- if notice
		.alert.alert-success.alert-dismissible.fade.in{:role => "alert"}
			%button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
				%span{"aria-hidden" => "true"} ×
			= notice
	%h1
		- if params[:user_type] == "staff"
			Staff
			%small All your staff members
		- elsif params[:user_type] == "customer"
			Customer
			%small All your customers
		- else
			Users
			%small All the users in this system
	/ start:breadcrumb
	%ol.breadcrumb
		%li
			%a{:href => "#"}
				%i.fa.fa-users
				- if params[:user_type] == "staff"
					Staff
				- elsif params[:user_type] == "customer"
					Customer
				- else
					User
		%li
			= link_to "All", users_path
		.pull-right
			.btn-toolbar{role: "toolbar"}
				.btn-group
					- if params[:user_type].blank?
						%button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
							%i.fa.fa-filter
							Filter
							%span.caret
						%ul.dropdown-menu{:role => "menu"}
							%li
								%a{href: "?user_type=staff"}
									Staff
							%li
								%a{href: "?user_type=customer"}
									Customer
					%a.btn.btn-default{href: @upload_page}
						%i.fa.fa-cloud-upload
						Upload      
					%a#delete-users.btn.btn-default{href: "#", "data-toggle" => "modal", "data-target" => "#delete_modal"}
						%i.fa.fa-times
						Delete     
					%a#edit-user.btn.btn-default
						%i.fa.fa-edit
						Edit    
					%a#add-user.btn.btn-default{href: "#", "data-toggle" => "modal", "data-target" => "#add_user_modal"}
						%i.fa.fa-plus
						New
	/ end:breadcrumb
	/ start:content
	.row
		.col-md-12
			/ start:dynamic data table
			.adv-table
				%table#example.display.table.table-bordered.table-striped
					%thead
						%tr
							%th.no-sort
								= check_box_tag "toggle_users"
							%th Name
							%th Phone Number
							%th Role
							%th Date Added
					%tbody.users_table
						- @users.each do |user|
							%tr.gradeX
								%td
									= check_box_tag "user[user.id]", user.id
								%td
									= link_to user.name, user
								%td
									= user.phone_number
								%td
									= user.user_type
								%td
									= user.created_at

	#delete_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
		.modal-dialog
			.modal-content
				.modal-header
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
					%h4#myModalLabel.modal-title Delete User
				= form_tag delete_multiple_users_path do |f|
					.modal-body
						%label#lbl-msg
						= hidden_field_tag 'delete_users'
						= hidden_field_tag 'user_type', params[:user_type]
					.modal-footer
						%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} 
							%i.fa.fa-times
							Cancel
						%button.btn.btn-danger{:type => "submit"} 
							%i.fa.fa-trash-o
							Delete

	/ #edit_user_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
	/ 	.modal-dialog
	/ 		.modal-content
	/ 			.modal-header
	/ 				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
	/ 					%span{"aria-hidden" => "true"} &times;
	/ 				%h4#myModalLabel.modal-title Edit User
	/ 			= form_tag update_user_path, method: "post" do |f|
	/ 				.modal-body
	/ 					/ %label#lbl-msg
	/ 					= hidden_field_tag :id
	/ 					= hidden_field_tag :user_type, params[:user_type]
	/ 					.form-group
	/ 						%lable Name
	/ 						= text_field_tag :name, nil, class: "form-control"
	/ 					.form-group
	/ 						%lable Phone Number
	/ 						= text_field_tag :phone_number, nil, class: "form-control"
	/ 					.form-group
	/ 						%lable Email
	/ 						= text_field_tag :email, nil, class: "form-control"
	/ 						- if params[:user_type].blank?
	/ 							.form-group
	/ 								%lable Role
	/ 								%select.form-control{name: "user_type"}
	/ 									%option{value: "Staff"}
	/ 										Staff
	/ 									%option{value: "Customer"}
	/ 										Customer
	/ 							.form-group
	/ 								%label Is this staff member an admin?
	/ 								= check_box_tag :is_admin, nil, class: "form-control"
	/ 						- else
	/ 							= hidden_field_tag :user_type, nil, value: params[:user_type]
	/ 							- if params[:user_type] == "staff" && current_user.is_admin
	/ 								.form-group
	/ 									%label Is this staff member an admin?
	/ 									= check_box_tag :is_admin, nil, class: "form-control"
	/ 				.modal-footer
	/ 					%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} 
	/ 						%i.fa.fa-times
	/ 						Cancel
	/ 					%button.btn.btn-success{:type => "submit"} 
	/ 						%i.fa.fa-edit
	/ 						Edit

	/ #class_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
	/ 	.modal-dialog
	/ 		.modal-content
	/ 			.modal-header
	/ 				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
	/ 					%span{"aria-hidden" => "true"} &times;
	/ 				%h4#myModalLabel.modal-title Add Staff to class
	/ 			= form_tag add_to_class_path do |f|
	/ 				.modal-body
	/ 					%label#lbl-msg
	/ 					= hidden_field_tag 'users'
	/ 					/ %label Select a class from the dropdown below
	/ 					%select.form-control{name: 'stream'}
	/ 						/ %option{value: "select"} Select a class
	/ 						- Stream.all.each do |s|
	/ 							%option{value: s.name}
	/ 								= s.name
	/ 				.modal-footer
	/ 					%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} 
	/ 						%i.fa.fa-times
	/ 						Cancel
	/ 					%button.btn.btn-success{:type => "submit"} 
	/ 						%i.fa.fa-plus
	/ 						Add to class

	#add_user_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
		.modal-dialog
			.modal-content
				.modal-header
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
					- if params[:user_type] == "staff"
						%h4#myModalLabel.modal-title Add Staff Member
					- else
						%h4#myModalLabel.modal-title Add Customer
				= form_for(@new_user, :url => add_user_path, :html => { method: :post, :role => 'form'}) do |f|
					.modal-body
						.form-group
							%lable Name
							= f.text_field :name, class: "form-control"
						.form-group
							%lable Phone Number
							= f.text_field :phone_number, class: "form-control"
						.form-group
							%lable Email
							= f.text_field :email, class: "form-control"
							- if params[:user_type].blank?
								.form-group
									%lable Role
									%select.form-control{name: "user[user_type]"}
										%option
											Staff
										%option
											Customer
								.form-group
									.checkbox
										%label
											%input{:type => "checkbox", name: "user[is_admin]"}
											Is this staff member an admin?
							- else
								= f.hidden_field :user_type, value: params[:user_type]
								- if params[:user_type] == "staff"
									.form-group
										.checkbox
											%label
												%input{:type => "checkbox", name: "user[is_admin]"}
												Is this staff member an admin?
					.modal-footer
						%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} 
							%i.fa.fa-times
							Cancel
						%button.btn.btn-success{:type => "submit"} 
							%i.fa.fa-plus
							- if params[:user_type] == "staff"
								Add Staff Member
							- else
								Add Customer

	#edit_user_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
		.modal-dialog
			.modal-content
				.modal-header
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
					%h4#myModalLabel.modal-title Edit Staff Member
				= form_for(@new_user, :url => edit_user_registration_path, :html => { :method => :put, :role => 'form'}) do |f|
					.modal-body
						.form-group
							%lable Name
							= f.text_field :name, class: "form-control"
						.form-group
							%lable Phone Number
							= f.text_field :phone_number, class: "form-control"
						.form-group
							%lable Email
							= f.text_field :email, class: "form-control"
						.form-group
							%lable Role
							%select.form-control{name: "user[user_type]"}
								%option
									Teacher
								%option
									Non Teaching Staff
						.form-group
							%label Is this staff member an admin?
							= f.check_box :is_admin, class: "form-control"
					.modal-footer
						%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} 
							%i.fa.fa-times
							Cancel
						%button.btn.btn-success{:type => "submit"} 
							%i.fa.fa-plus
							Add Staff Member