%section.content
	- if notice
		.alert.alert-success.alert-dismissible.fade.in{:role => "alert"}
			%button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
				%span{"aria-hidden" => "true"} ×
			= notice
	%h1
		User
	/ start:breadcrumb
	%ol.breadcrumb
		%li
			%a{:href => "#"}
				%i.fa.fa-user
				= @user.name if !@user.name.blank?
		.pull-right
			.btn-toolbar{role: "toolbar"}
				.btn-group
					%button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
						%i.fa.fa-plus
						Record remittance
						%span.caret
					%ul.dropdown-menu{:role => "menu"}
						%li
							%a{href: "#{new_payment_path}?user=#{@user.id}&user_type=sender"}
								Sender
						%li
							%a{href: "#{new_payment_path}?user=#{@user.id}&user_type=recipient"}
								Recipient   
					%a.btn.btn-default{href: edit_user_path(@user)}
						%i.fa.fa-edit
						Edit      
					%a.btn.btn-default{href: "#", "data-toggle" => "modal", "data-target" => "#delete_modal"}
						%i.fa.fa-times
						Delete 