.row
  .col-lg-12
    %section.panel
      = form_for @payment do |f|
        .panel-body
          - if @payment.errors.any?
            #error_explanation
              %h2= "#{pluralize(@payment.errors.count, "error")} prohibited this payment from being saved:"
              %ul
                - @payment.errors.full_messages.each do |msg|
                  %li= msg
          .row
            .col-lg-6
              .form-group
                = f.label :amount
                .iconic-input
                  %i.fa.fa-money
                  = f.text_field :amount, class: "form-control"
            .col-lg-6
              .form-group
                = f.label :reference_number
                .iconic-input
                  %i.fa.fa-list-ol
                  = f.text_field :reference_number, class: "form-control"
            .col-lg-12
              .form-group
              %label Currency
              %select.form-control{name: "payment[currency_id]"}
                - Currency.all.each do |currency|
                  %option{value: currency.id}
                    = "#{currency.symbol} - #{currency.name}"
          .row
            .col-lg-6
              %br
              %h3 Sender's Details
              %hr
              .form-group
                = f.label :phone_number
                .iconic-input
                  %i.fa.fa-phone
                  %input#sender_phone_number{name: 'sender_phone_number', class: "form-control", value: "#{@payment.sender.nil?? '' : @payment.sender.phone_number}"}
              .form-group
                = f.label :name
                .iconic-input
                  %i.fa.fa-user
                  %input#sender_name{name: 'sender_name', class: "form-control", value: "#{@payment.sender.nil?? '' : @payment.sender.name}"}
              .form-group
                = f.label :email
                .iconic-input
                  %i.fa.fa-envelope
                  %input#sender_email{name: 'sender_email', class: "form-control", value: "#{@payment.sender.nil?? '' : @payment.sender.email}"}
              .form-group
                = f.label :sent_from, "Sender Location"
                .iconic-input
                  %i.fa.fa-list-ol
                  = f.text_field :sent_from, class: "form-control", value: "#{@payment.sender.nil?? '' : @payment.sender.last_location}"
            .col-lg-6
              %br
              %h3 Recipient's Details
              %hr
              .form-group
                = f.label :phone_number
                .iconic-input
                  %i.fa.fa-phone
                  %input#recipient_phone_number{name: 'recipient_phone_number', class: "form-control", value: "#{@payment.recipient.nil?? '' : @payment.recipient.phone_number}"}
              .form-group
                = f.label :name
                .iconic-input
                  %i.fa.fa-user
                  %input#recipient_name{name: 'recipient_name', class: "form-control", value: "#{@payment.recipient.nil?? '' : @payment.recipient.name}"}
              .form-group
                = f.label :email
                .iconic-input
                  %i.fa.fa-envelope
                  %input#recipient_email{name: 'recipient_email', class: "form-control", value: "#{@payment.recipient.nil?? '' : @payment.recipient.email}"}
              .form-group
                = f.label :sent_to, "Recipient Location"
                .iconic-input
                  %i.fa.fa-list-ol
                  = f.text_field :sent_to, class: "form-control", value: "#{@payment.recipient.nil?? '' : @payment.recipient.last_location}"
        .panel-footer
          .actions.row
            .col-lg-6
              .checkbox
                %label
                  %input{:type => "checkbox", name: "send_by_mpesa"}
                    Send through Mpesa
            .col-lg-6
              %span.pull-right
                %button#save-payment.btn.btn-primary.btn-rounded{"data-original-title" => "", :title => "", :type => "submit"}
                  %i.fa.fa-save
                  Save