.row
  .col-lg-12
    %section.panel
      = form_for @exchange_rate do |f|
        .panel-body
          - if @exchange_rate.errors.any?
            #error_explanation
              %h2= "#{pluralize(@exchange_rate.errors.count, "error")} prohibited this exchange_rate from being saved:"
              %ul
                - @exchange_rate.errors.full_messages.each do |msg|
                  %li= msg
          .form-group
            %lable Currency One
            = f.hidden_field 'currency_one', value: params[:currency_one], id: 'currency_one'
            %select.form-control{name: "exchange_rate[currency_one_id]"}
              - Currency.all.each do |currency|
                %option{value: currency.id}
                  = "#{currency.symbol} - #{currency.name}"
          .form-group
            %lable Currency Two
            = f.hidden_field 'currency_two', value: params[:currency_two], id: 'currency_two'
            %select.form-control{name: "exchange_rate[currency_two_id]"}
              - Currency.all.each do |currency|
                %option{value: currency.id}
                  = "#{currency.symbol} - #{currency.name}"
          .form-group
            %lable Buying
            = f.text_field :buying, class: "form-control"
          .form-group
            %lable Selling
            = f.text_field :selling, class: "form-control"
          .form-group
            %lable City
            = f.text_field :city, class: "form-control"
        .panel-footer
          .actions.pull-right
            %button.btn.btn-primary.btn-rounded{"data-original-title" => "", :title => "", :type => "submit"}
              %i.fa.fa-save
              Save