.row
  .col-lg-12
    %section.panel
      = form_for @exchange_rate do |f|
        .panel-body
          - if @exchange_rate.errors.any?
            #error_explanation
              %h2= "#{pluralize(@exchange_rate.errors.count, "error")} prohibited this exchange_rate from being saved:"
              %ul
                - @exchange_rate.errors.full_messages.each do |msg|
                  %li= msg
          .form-group
            %lable Currency One
            = f.text_field :currency_one, class: "form-control"
          .form-group
            %lable Currency Two
            = f.text_field :currency_two, class: "form-control"
          .form-group
            %lable Buying
            = f.text_field :buying, class: "form-control"
          .form-group
            %lable Selling
            = f.text_field :selling, class: "form-control"
          .form-group
            %lable City
            = f.text_field :city, class: "form-control"
        .panel-footer
          .actions.pull-right
            %button.btn.btn-primary.btn-rounded{"data-original-title" => "", :title => "", :type => "submit"}
              %i.fa.fa-save
              Save