!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
      %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
        %title MHawala
        / start:bootstrap v3.2.0
        = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
        = javascript_include_tag 'application', 'data-turbolinks-track' => false
        / %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}
        / start:style for this page
        / <link href="plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet">
        / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        / WARNING: Respond.js doesn't work if you view the page via file://
        /[if lt IE 9]
        / <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        / <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  %body.cl-default.fixed
    / start:navbar top
    %header.header
      %a.logo{:href => "index.html"}
        %i.fa.fa-money
        MHawala
      / Header Navbar: style can be found in header.less
      %nav.navbar.navbar-static-top{:role => "navigation"}
        / Sidebar toggle button
        %a.navbar-btn.sidebar-toggle{"data-target" => "#atas", "data-toggle" => "offcanvas", :href => "#", :role => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        #atas.collapse.navbar-collapse
          .navbar-left
            %ul.nav.navbar-nav
              %li.dropdown.messages-menu
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.fa.fa-bell
                  %span.label.label-success 4
                %ul.dropdown-menu
                  %li.header You have 4 new notifications
                  %li
                    / inner menu: contains the actual data
                    %ul.menu
                      - Payment.last(4).each do |payment|
                        %li
                          / start message
                          %a{:href => payment_path(payment)}
                            .pull-left
                              %img.img-circle{:alt => "User Image", :src => "/missing.jpg"}/
                            %h4
                              New Remittance
                              %small
                                %i.fa.fa-clock-o
                                = time_ago_in_words(payment.created_at).gsub!("about", "")
                            %p
                              = "#{payment.sender.name} - #{payment.recipient.name} (#{payment.amount})"
                  %li.footer
                    %a{:href => payments_path} See All Notifications
              %li.form-search
                %input.form-control{:placeholder => "Search..", :type => "text"}
          .navbar-right
            %ul.nav.navbar-nav
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %img.img-circle.img-responsive.img-user{:src => "#{current_user.profile_pic.url}"}
                    %strong
                      = "@#{current_user.name.split(' ').first}"
                %ul.dropdown-menu.dropdown-login
                  %li
                    .navbar-login
                      .row
                        .col-lg-3
                          %p.text-center
                            %img.img-responsive.img-circle{:src => current_user.profile_pic.url}
                        .col-lg-9
                          %p.text-left
                            %strong
                              = current_user.name
                          %p.text-left.small
                            = current_user.email
                          .row
                            .col-md-6
                              %small
                                %a{:href => edit_user_registration_path} Edit Profile
                            .col-md-6
                              %small
                                %a{:href => "#"} Notification
                  %li.divider
                  %li
                    .navbar-login.navbar-login-session
                      = link_to "Logout", destroy_user_session_path, method: :delete, "data-method" => "delete", class: "btn btn-default btn-square btn-block"
    / end:navbar top
    / start:wrapper body
    .wrapper.row-offcanvas.row-offcanvas-left
      / start:left sidebar
      %aside.left-side.sidebar-offcanvas
        %section.sidebar
          / Sidebar user panel
          .user-panel
            .image
              %img.img-circle{:alt => "User Image", :src => current_user.profile_pic.url}/
            .info
              %p
                = "Hello, #{current_user.name}"
              %small{:style => "color: #eee;"} Welcome Back
          / sidebar menu: : style can be found in sidebar.less
          %ul.sidebar-menu
            %li.active
              %a{:href => "#"}
                %i.fa.fa-dashboard
                %span Dashboard
            %li
              %a{:href => "#{users_path}?user_type=staff"}
                %i.fa.fa-briefcase
                %span Staff
            %li
              %a{:href => "#{users_path}?user_type=customer"}
                %i.fa.fa-users
                %span Customers
            %li.treeview
              %a{:href => ""}
                %i.fa.fa-money
                %span Payments
                %i.fa.fa-angle-left.pull-right
              %ul.treeview-menu
                %li
                  %a{:href => new_payment_path}
                    %i.fa.fa-plus
                    Create New Payment
                %li
                  %a{:href => payments_path}
                    %i.fa.fa-circle-o
                    All
                %li
                  %a{:href => "#{payments_path}?sent=0"}
                    %i.fa.fa-circle-o
                    Pending Payments
                %li
                  %a{:href => "#{payments_path}?sent=1"}
                    %i.fa.fa-circle-o
                    Authorized Payments
            %li.treeview
              %a{:href => ""}
                %i.fa.fa-cog
                %span Settings
                %i.fa.fa-angle-left.pull-right
              %ul.treeview-menu
                %li
                  %a{:href => edit_user_registration_path}
                    %i.fa.fa-edit
                    Edit your profile
            %li.treeview
              %a{:href => ""}
                %i.fa.fa-bar-chart-o
                %span Reports
                %i.fa.fa-angle-left.pull-right
              %ul.treeview-menu
                %li
                  %a{:href => 'timetable_path'}
                    %i.fa.fa-edit
                    Edit your profile
                %li
                  %a{:href => 'pages_settings_path'}
                    %i.fa.fa-lock
                    Edit Account
      %aside.right-side
        = yield
    = javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => false